{% extends "layout.html" %}
{% block content %}
   <div class="content-section">
    <h3>About</h3>
    <p> Hi there!</p>
    <p> We are a couple of Data Science students in the Artifical Intelligence Bootcamp organised by Becode.
         We made this webapp as a part of the early days of our training, there's not yet any AI involved
        ..but who knows what might still happen.</p>
    <p> For now you should be able to render a 3D plot of a house located anywhere in Flanders.
        We used LIDAR maps (Digital Surface and Digital Terrain Models) and polygon shapes of houses and parcels 
        retrievable from different sources from the Flemish government to code our 3D House plot app with. We hope you enjoy it!</p> 
    <p><a href="https://becode.org/">Find out more about Becode as an organization.</a></p>
    <p><a href="https://becode.org/learn/ai-bootcamp/">Checkout Becode's AI bootcamp!</a></p>
   </div>
{% endblock content %}
